@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 dark:bg-[#030712] text-slate-900 dark:text-slate-100 antialiased transition-colors duration-300;
}

/* FORCE MODAL HEIGHT */
.modal-scroll {
  max-height: 90vh;
}

/* CUSTOM SCROLLBAR FOR MODAL */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgb(100 116 139) transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgb(100 116 139);
  border-radius: 10px;
}

.dark .scrollbar-thin {
  scrollbar-color: rgb(71 85 105) transparent;
}

.dark .scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgb(71 85 105);
}

.modal-scroll {
  max-height: 90vh;
}